* 
body{
    margin: 0px;
    padding: 0px;
    background-color: #DAF2FE;
    background-image: url(../afb/images.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;

    grid-template-areas: 
    "header header header header"
    "nav tekstt tekstt tekstt"
    "nav teksttt teksttt teksttt"
    "nav tekstttt tekstttt tekstttt"
    "footer footer footer footer";
    grid-template-rows: 0.7fr 5.89fr;
    column-gap: 7px;
    row-gap: 25px;
    
}

header{
    grid-area: header;
    grid-row: 1;
    height: 10vh;
    background-color: #317AB0;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 13px;
    border-top: #1F3036 4px solid;
    border-bottom: #1F3036 4px solid;
}

#nav{
    grid-area: nav;
    height: 45vh;
    width: 10vw;
    background-color: #317AB0;
    grid-row: 2;
    grid-column: 1;
    border-top: #1F3036 4px solid;
    border-right: #1F3036 4px solid;
    border-bottom: #1F3036 4px solid;
}

#navi{
    border-top: #1F3036 3px solid;
    border-right: #1F3036 3px solid;
    border-bottom: #1F3036 3px solid;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
}

a{
    color: whitesmoke;
}



#container{
    grid-area: tekstt;
    justify-self: center;
    grid-row: 2;
    grid-column: 3 / 4;
}

#container1{
    grid-area: teksttt;
    justify-self: center;
    padding-top: 150px;
    grid-row: 2;
    grid-column: 3 / 4;
}

#container2{
    grid-area: teksttt;
    justify-self: center;
    padding-top: 300px;
    grid-row: 2;
    grid-column: 3 / 4;
}

#tekst{
    grid-area: tekst;
    background-color: #97B1DF;
    text-align: center;
    font-size: 35px;
    min-height: 10vh;
    width: 30vw;
    padding-left: 60px;
    padding-right: 55px;
    border: #1F3036 4px solid;
}

#tekst1{
    grid-area: tekst;
    background-color: #97B1DF;
    text-align: center;
    font-size: 30px;
    min-height: 10vh;
    width: 25vw;
    padding-left: 60px;
    padding-right: 55px;
    border: #1F3036 4px solid;
}

#tekst2{
    grid-area: tekst;
    background-color: #1F3036;
    text-align: center;
    font-size: 25px;
    color: white;
    min-height: 40vh;
    width: 50vw;
    padding-left: 60px;
    padding-right: 55px;
    border: black 5px solid;
}

footer{
    grid-area: footer;
    background-color: #317AB0;
    height: 10vh;
    border-top: #1F3036 4px solid;
    border-bottom: #1F3036 4px solid;
}